*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #8566aa;
 
}
.main_div{
  width: 100%;
  height: 100%;
  background: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

.center_div{
  width: 25%;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
  margin: 30px 80vh;
}

h1{
  color: white;
  background: transparent;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);

}
input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2ps solid #8566aa;
  outline:none;
}
button{
  min-height: 40px;
  width: 51px;
  border-radius: 50%;
  border-color: transparent;
  color:purple;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
button:hover{
  background-color: greenyellow;
}
hr{
  margin: 12px ;
}
ol{
  margin-top: 30px;
}
ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  min-height: 40px;
  display: flex;
  align-items: center;
  color:#9c27b0;
  text-transform: capitalize;
  background: white;

}
.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.MuiSvgIcon-root{
fill: currentColor;
width: 1em;
height: 1em;
display: inline-block;
font-size: 1.5rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
user-select: none;
}
.todo_style .MuiSvgIcon-root:hover{
  background-color: rgb(231, 199, 231);
}
.todo_style .MuiSvgIcon-root:hover .list_style{
  color: crimson;
}

